/*footer*/

footer
{
    grid-area:ft;
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
}

#p1
{
    padding-top: 50px;
    color:darkgrey;
}

#footer-span
{
    color: lightgreen;
    font-weight: bold;
    font-size: larger;
}

#p2
{
    color: lightslategrey;
}