/*self-introduction and social media share*/

#self
{
    grid-area:ot;
    padding: 150px 100px 200px 30px;
}

img
{
    width:200px;
    height:200px;
    padding-left: 120px;
}

#avatar-caption
{
    margin-top: 20px;
    padding-left: 215px;
    margin-bottom:20px;
    color: #a6e22e;
    font-weight: bold;
    font-size: larger;
}

#avatar-caption2
{
    margin-top:0;
    padding-left: 70px;
    padding-right:0;
    text-align: center;
}

#self-links
{
    padding-left: 170px;
    padding-top: 30px;
}

.social
{
    color: #19efe9;
}
